npm-debug.*
*.jks
*.jks.bak
*.p12
*.key
*.mobileprovision

# osx
.DS_Store

# intellij
.idea
local.properties

# node.js
node_modules/
node_modules/**/*
npm-debug.log

# env
env/index.js

# expo

.expo
.expo/*
.expo-shared/
web-build/

dist

# Bundle artifact
*.jsbundle

# native

# Android/IntelliJ
#
build/
.gradle
*.iml
*.apk

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# CocoaPods
/ios/Pods/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
